<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WARREN BUFFET | GALLERY |</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/quotes">Quotes</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <section class="main">
      <h1>GALLERY</h1>
      <div class="gallery">
        <img src="images/gallery/warren-1.jpg" alt="Warren Buffet Image 1" />
        <img src="images/gallery/warren-2.jpeg" alt="Warren Buffet Image 2" />
        <img src="images/gallery/warren-3.jpg" alt="Warren Buffet Image 3" />
        <img src="images/gallery/warren-4.webp" alt="Warren Buffet Image 4" />
        <img src="images/gallery/warren-5.jpeg" alt="Warren Buffet Image 5" />
        <img src="images/gallery/warren-6.jpeg" alt="Warren Buffet Image 6" />
        <img src="images/gallery/warren-7.webp" alt="Warren Buffet Image 7" />
        <img src="images/gallery/warren-8.jpg" alt="Warren Buffet Image 8" />
        <img src="images/gallery/warren-9.jpg" alt="Warren Buffet Image 9" />
        <img src="images/gallery/warren-10.jpg" alt="Warren Buffet Image 10" />
      </div>
      <div class="source">
        <p>Source: Google Images</p>
      </div>
    </section>
  </body>
</html>
