<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WARREN BUFFET SITE</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/quotes">Quotes</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <section class="main">
        <h1 class="main__title">
            WARREN BUFFET PAGE
        </h1>
        <div>
            <img src="images/warren_main.png" alt="Warren Buffet Main Image">
        </div>
        <div>
            Welcome, <br />
            Here you'll find a brief page with Warren's buffet Bio, Quotes and some images. <br />
            Personally Warren Buffet has been an inspire role-model for me and that's why I dedicate this page to him. <br />
            Hope you enjoy it!

        </div>
    </section>
  </body>
</html>
