<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WARREN BUFFETT SITE</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/quotes">Quotes</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <section class="main">
      <h1 class="main__title">WARREN BUFFETT PAGE</h1>
      <div>
        <img src="images/warren_main.png" alt="Warren Buffet Main Image" />
      </div>
      <div class="intro">
        <p>Welcome,</p>

        <p>
          Here you'll find a brief page with Warren's buffet Bio, Quotes and
          some images. <br />
          Personally Warren Buffett has been an inspire role-model for me and
          that's why I dedicate this page to him. <br />
        </p>
        <p>Hope you enjoy it!</p>
      </div>
    </section>
  </body>
</html>
